<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  
<head>
    <meta charset="UTF-8">
    <title>在庫一覧</title>
</head>

<body>
    <img th:src="@{/img/reizouko_open.png}">
    <h1>在庫一覧</h1>
    <ul>
        <table border="1">
            <tr th:each="f: ${foodList}">
                <th>食材名</th>
                <td>
                    [[${f.name}]] 
                    <a th:href="@{/read/{fid}(fid=${f.fid})}">詳細</a>
                    <a th:href="@{/}">戻る</a>
                </td>

                <tr>
                    <th>量</th>
                    <th>賞味期限</th>
                </tr>
            
                <tr th:each="z: ${zaikoList}">
                    <td>[[${z.fid}]] </td>
                    <td>[[${z.amount}]] </td>
                    <td>[[${z.expirationDate}]] </td>
                </tr>
            </tr>
        </table>
    </ul>
  
    <ul>
        <table border="1">
            <tr>
            <th>fid</th>
            <th>食材名</th>
            </tr>
            <tr th:each="f: ${foodList}">
                <td>[[${f.fid}]] </td>
                <td>[[${f.name}]] </td>
            </tr>
        </table>
    </ul>
  
    <h2>新規登録する</h2>
    <form th:action="@{/manage}" th:object="${zaikoForm}" method="post">
        <label for="name">食材名　：</label>
        <input type="text" th:field="*{name}" />
        <label for="comment">量：</label>
        <input type="text" required th:field="*{amount}" size="8"/><br>
        
        <label for="comment">賞味期限：</label>
        <input type="text" required th:field="*{year}" />
        <label for="comment">年</label>
        <input type="text" required th:field="*{month}" />
        <label for="comment">月</label>
        <input type="text" required th:field="*{date}" />
        <label for="comment">日</label>
        <input type="submit" value="登録" />
    </form> 

    <h2>タイトルへ</h2>
    <a th:href="@{/}">戻る</a>

</body>
  
</html>